// ========================================
// MESSAGES
// ========================================

.table-messages {
  width: 100%;
  margin-bottom: 30px;

  thead {
    border: 1px solid #122334;

  }

  th {
    padding: 7px 13px;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    text-align: left;
    background-color: #0e1d2b;
  }

  tbody {
    border: 1px solid #0e1d2b;
  }

  textarea[name="message"] {
    height: 70px;
    color: #bbb9b7;
  }

  td:first-child {
    width: 18.3%;
    vertical-align: top;
    padding: 8px 13px;
  }

  td:last-child {
    width: 81.7%;
  }

  td {
    border: 1px solid #0e1d2b;
  }

  .nick-name {
    display: block;
    font-size: 18px;
    line-height: 23.4px;
    overflow-wrap: break-word;

    &:hover {
      color: #0da311;
    }

    &--current {
      color: #0da311;
    }
  }

  .chat-text {
    max-width: 100%;
    height: 160px;

    // .scroll-bar.vertical {
    //   width: 15px;
    //   height: 160px;
    //   background-color: #0e1d2b;
    // }

    // .scroll-bar .thumb {
    //   height: 50px;
    //   border-radius: 0;
    //   background-color: #193f58;
    // }
  }

  .chat-text p {
    margin-top: 0;
    padding-right: 15px;
    font-size: 18px;
    line-height: 23.4px;
    overflow-wrap: break-word;
  }

  .viewport {
    width: 100%;
  }
}